@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,300;0,500;1,500&display=swap");
.w-0 {
  width: 0rem;
}

.w-1 {
  width: 0.25rem;
}

.w-2 {
  width: 0.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-10, .header-main .wrapper .icon-menu, .header-main .wrapper nav .icon-close {
  width: 2.5rem;
}

.h-0 {
  height: 0em;
}

.h-1 {
  height: 0.25em;
}

.h-2 {
  height: 0.5em;
}

.h-3 {
  height: 0.75em;
}

.h-4 {
  height: 1em;
}

.h-5 {
  height: 1.25em;
}

.h-6 {
  height: 1.5em;
}

.h-7 {
  height: 1.75em;
}

.h-8 {
  height: 2em;
}

.h-9 {
  height: 2.25em;
}

.h-10, .header-main .wrapper .icon-menu, .header-main .wrapper nav .icon-close {
  height: 2.5em;
}

form {
  width: 100%;
}

form fieldset {
  border: none;
}

form fieldset legend {
  color: #223A40;
  font-size: 1.5rem;
  padding: 1em;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

form div label {
  color: #869AA6;
  font-size: 1rem;
  text-transform: lowercase;
  padding: 2px;
}

form div input {
  width: 100%;
  padding: 1em 1em;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #D9D1C7;
}

form div textarea {
  width: 100%;
  padding: 1em 1em;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #D9D1C7;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0 .5em;
  color: #D9D1C7;
  background-color: #869AA6;
  font-family: 'Tourney', cursive;
}

.seccion-titulo {
  margin: 1em 0;
  font-size: xx-large;
  background: none;
  color: #223A40;
  border-bottom: 0.2em #556773 solid;
}

.borde-destacada {
  border: 8px darkslategray solid;
}

.borde-reciente {
  border: 8px lightslategrey solid;
}

.borde-anterior {
  border: 8px #869AA6 solid;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9F0F2;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer";
}

p {
  font-family: 'Handlee', cursive;
  font-size: 1rem;
  padding: 1em 1.5em;
  color: #869AA6;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.open-nav {
  transform: translateX(-100%);
}

.shadow-light, main .casos-anteriores article, main .caso-principal {
  box-shadow: 1px 1px 5px #556773;
}

.header-main {
  grid-area: "header";
  height: 450px;
  background-image: url(./../img/background.jpeg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
}

.header-main .wrapper {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223A40;
}

.header-main .wrapper .brand {
  font-family: 'Tourney', cursive;
  font-size: 1.5rem;
  letter-spacing: .1em;
  margin-left: 1em;
  color: #D9D1C7;
}

.header-main .wrapper .icon-menu {
  margin-right: 1em;
  color: #D9D1C7;
  cursor: pointer;
}

.header-main .wrapper nav {
  position: fixed;
  z-index: 9;
  height: 100vh;
  width: 60%;
  right: -60%;
  top: 0;
  background-color: #E9F0F2;
  box-shadow: inset 0.5px 0 3px 0 #556773;
  text-transform: uppercase;
  transition: transform .5s ease-in-out;
}

.header-main .wrapper nav .icon-close {
  margin: 8px;
  color: #E9F0F2;
  background-color: #556773;
  cursor: pointer;
}

.header-main .wrapper nav ul {
  padding: 0;
  margin-top: 3em;
}

.header-main .wrapper nav ul a {
  display: block;
  padding: .75em 2em;
  font-family: 'Bad Script', cursive;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #869AA6;
}

.header-main .wrapper nav ul a:hover {
  color: #E9F0F2;
  background-color: #869AA6;
}

.header-main .author-credit {
  z-index: 5;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: small;
  color: #556773;
  box-shadow: 2px 2px 5px #556773;
}

main {
  grid-area: "main";
  width: 90%;
  margin: 0 auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  gap: 5em;
}

main .caso-exito {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  box-shadow: 2px 2px 10px #556773;
}

main .caso-exito div h2 {
  padding: 1em 0.5em;
}

main .caso-exito iframe {
  aspect-ratio: 16/9;
  background-color: #E9F0F2;
}

main .casos-recientes {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 1em;
}

main .casos-recientes article {
  width: 100%;
  box-shadow: 1px 1px 5px #556773;
}

main .casos-recientes article img {
  min-width: 100%;
}

main .casos-anteriores {
  width: 95%;
  margin: 0 auto;
}

main .casos-anteriores article {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  gap: 2em;
}

main .casos-anteriores article:nth-child(odd) {
  flex-direction: row-reverse;
  gap: 0;
}

main .casos-anteriores article img {
  max-width: 180px;
}

main .caso-principal {
  display: flex;
  flex-direction: column;
}

main .caso-principal img {
  max-width: 100%;
}

main img:hover {
  filter: blur(5px);
}

main .personal {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 2em;
}

main .personal img {
  border-radius: 100%;
  width: 100%;
  filter: blur(5px);
}

main .personal img:hover {
  filter: blur(0);
}

main .personal p {
  font-size: 0.5em;
}

main .newsletter, main .contacto {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

/* Footer*/
footer {
  grid-area: "footer";
  height: 64px;
  background-color: #869AA6;
  color: white;
  position: relative;
  padding: 1rem;
  text-align: right;
  margin-top: 4em;
}

/* Media Queries*/
@media screen and (min-width: 576px) {
  .header-main .wrapper .brand {
    font-size: 2rem;
  }
  .header-main .wrapper nav {
    width: 30%;
    right: -30%;
  }
  main .casos-recientes {
    flex-direction: row;
  }
  main .casos-recientes article {
    width: 40%;
  }
  main .personal {
    grid-template-columns: 1fr 1fr;
  }
  main .newsletter, main .contacto {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  .header-main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-main .wrapper .brand {
    font-size: 3rem;
  }
  .header-main .wrapper .icon-menu {
    display: none;
  }
  .header-main .wrapper nav {
    transform: translateX(0);
    position: unset;
    background: none;
    box-shadow: none;
    width: fit-content;
    height: fit-content;
    margin-right: 1em;
  }
  .header-main .wrapper nav .icon-close {
    display: none;
  }
  .header-main .wrapper nav ul {
    margin: 0;
    display: flex;
  }
  .header-main .wrapper nav ul a {
    text-transform: capitalize;
    font-size: 1.1rem;
    white-space: nowrap;
    padding: 1em .5em;
    color: #D9D1C7;
  }
  .header-main .wrapper nav ul a:hover {
    color: #223A40;
    background-color: #D9D1C7;
  }
  main .caso-exito {
    flex-direction: row;
    min-height: 300px;
  }
  main .caso-exito div {
    max-width: 40%;
  }
  main .caso-exito iframe {
    flex-grow: 2;
  }
  main .casos-recientes article {
    width: 30%;
  }
  main .caso-principal {
    flex-direction: row;
  }
  main .personal {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */