@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poiret+One&display=swap');


* {
    font-family: 'Poiret One', cursive;
}

p {
    font-family: 'Handlee', cursive;
}

body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* Header */
#header {
    grid-area: "header";
    height: 450px;
    background-image: url(./../img/background.jpeg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.headerMain {
    height: 72px;
    background-color: lightslategrey;
    background-image: linear-gradient(to right, lightslategrey, white);
}

.headerMain_titulo {
    font-size: 4em;
}

.headerMain_nav ul {
    flex-wrap: nowrap;
}

.headerMain_nav li {
    height: 35px;
    padding: 0 15px 0 25px;
    background-color: darkslategray;
    cursor: pointer;
    transition: height 200ms;
}

.headerMain_nav li:hover {
    height: 50px;
    transition: height 200ms;
    background-color: gray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.headerMain_nav a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

#photoBy{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px;
    border-radius: 5px;
    background-color: lightgray;
    z-index: 5;
}

/* Main */
main {
    grid-area: "main";
}

/* Footer*/
footer {
    grid-area: "footer";
    height: 64px;
    background-color: darkslategray;
    color: white;
    position: relative;
    padding: 1rem;
    text-align: right;
}

/* Formularios*/
form div {
    margin-bottom: 1rem;
}

form div label {
    display: block;
    text-transform: lowercase;
    font-size: small;
    margin: 4px 0 4px 0;
}

form div input {
    width: 100%;
    height: 2rem;
    padding: .5rem;
}

input {
    border: 1px gray solid;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}

input:focus {
    border: px darkslategray solid;
    border-radius: 10px;
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.suscribete {
    margin: 0 auto;
    margin-top: 4rem;
    width: 50%;
}



/* Propiedades Varias*/
.center {
    margin: 0 auto;
}

.w-24 {
    width: 24%;
}

.w-60{
    width: 60%;
}

.my-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.border-8 {
    border: 6px darkslategrey solid;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.img-rounded {
    display: inline-block;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.b-red {
    border: 1px red solid;
}

.fotoUser {
    font-size: 0.5em;
}


/* Media Queries*/
@media screen and (max-width: 768px) {
    #header {
        height: 300px;
        background-size: 100% 300px;
        background-position: center center;
    }
    .border-8 {
        border: 4px darkslategrey solid;;
    }
    .headerMain_titulo {
        font-size: 2em;
    }
    .headerMain_nav {
        background-color: darkslategray;
    }
    .headerMain_nav li {
        height: 30px;
        padding: 0 10px 0 15px;

    }
    .headerMain_nav li:hover {
        height: 30px;
    }
    #photoBy{
        font-size: 0.5em;
    }
    .suscribete {
        width: 80%;
        margin-top: 2rem;
    }
}