h1, h2, h3, h4, h5, h6 {
    padding: 0 .5em;
    color: $color-secondary;
    background-color: $color-gray;
    font-family: 'Tourney', cursive;
}

.seccion-titulo {
    margin: 1em 0;
    font-size: xx-large;
    background: none;
    color: $color-primary;
    border-bottom: .2em $color-gray-dark solid;
}