@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poiret+One&display=swap');

$color-gray: gray;
$color-gray-10: lightslategrey;
$color-gray-50: darkslategray;
$color-red: red;