@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,300;0,500;1,500&display=swap');

$color-gray-10: lightslategrey;
$color-gray-50: darkslategray;
$color-red: red;

$color-primary: #223A40;
$color-secondary: #D9D1C7;
$color-gray: #869AA6;
$color-gray-dark: #556773;
$color-gray-light: #E9F0F2;

// Width Heigth 0.25rem = 4px
@for $i from 0 through 10 {
    .w-#{$i}{
        width: 0.25rem * $i;
    }

}
// Heigth 0.25rem = 4px
@for $i from 0 through 10 {
    .h-#{$i}{
        height: 0.25em * $i;
    }
}

form {
    width: 100%;

    fieldset {
        border: none;

        legend{    
            color: $color-primary;
            font-size: 1.5rem;
            padding: 1em;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        padding: 1em;
    
        label {
            color: $color-gray;
            font-size: 1rem;
            text-transform: lowercase;
            padding: 2px;
        }

        input {
            width: 100%;
            padding: 1em 1em;
            border-radius: 4px;
            border: none;
            border-bottom: 2px solid $color-secondary;
        }
    }
}
